@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat', sans-serif; }

.title {
  z-index: -100;
  border-bottom: 4px solid #1589cc;
  background: #1589cc;
  padding-top: 25px;
  padding-bottom: 25px;
  color: #212121;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 3.5em;
  text-align: center;
  cursor: default;
  overflow: hidden;
  font-weight: 900; }

.flow-right {
  display: flex;
  justify-content: space-around;
  background: #212121;
  font-size: 20px;
  font-weight: 600;
  color: #FFF;
  padding: 10px;
  cursor: default; }
  .flow-right span {
    transition: transform 0.3s ease; }
    .flow-right span:hover {
      transform: scale(1.1); }
  .flow-right #item-count {
    color: #d62727; }
  .flow-right #unchecked-count {
    color: #35d82c; }

.bar-newTodo {
  display: flex;
  justify-content: center;
  background: #1589cc;
  padding: 10px; }
  .bar-newTodo button {
    background: #212121;
    width: 234px;
    height: 30px;
    outline: none;
    cursor: pointer;
    color: #fff;
    margin-right: 50px;
    border: 2px solid #dcdbdb;
    font-family: 'Montserrat', sans-serif;
    transition: transform 0.3s ease, background 0.35s ease; }
    .bar-newTodo button:hover {
      transform: scale(1.08);
      background: #111111; }
  .bar-newTodo input {
    cursor: pointer;
    margin-left: 50px;
    width: 234px;
    height: 30px;
    border: none;
    outline: none;
    transition: transform 0.3s ease; }
    .bar-newTodo input:hover {
      transform: scale(1.08); }
    .bar-newTodo input::-webkit-color-swatch-wrapper {
      padding: 0; }
    .bar-newTodo input::-webkit-color-swatch {
      border: 2px solid #212121; }
    .bar-newTodo input::after {
      content: "Cambiar color";
      display: inline-block;
      width: 100%;
      text-align: center;
      transform: translateY(-23px);
      font-family: 'Montserrat', sans-serif;
      font-weight: 600; }

.container-list {
  min-height: calc((100vh / 1) - 216px);
  border-right: 20px solid #1589CC;
  border-left: 20px solid #1589CC;
  border-bottom: 20px solid #1589CC;
  background: #212121; }
  .container-list h1 {
    color: #fff;
    display: block;
    padding: 15px 25px;
    cursor: default;
    width: 90vw; }
  .container-list ul {
    display: flex;
    flex-wrap: wrap;
    height: 100%; }
    .container-list ul li {
      flex: 1;
      list-style: none;
      margin-right: 25px;
      width: 80%;
      min-width: 400px; }
      .container-list ul li .tarjeta {
        display: flex;
        flex-direction: column;
        padding: 20px;
        margin-top: 25px;
        margin-left: 25px; }
        .container-list ul li .tarjeta textarea {
          background: transparent;
          border: 2px solid transparent;
          resize: none;
          padding: 5px;
          outline: none;
          color: #fff; }
          .container-list ul li .tarjeta textarea:focus {
            border: 2px solid #212121; }
          .container-list ul li .tarjeta textarea::placeholder {
            color: #d5d5d5; }
        .container-list ul li .tarjeta div {
          display: flex; }

.sinEscritura {
  pointer-events: default; }

.felicitacion {
  background-color: #22d412;
  color: #fff;
  font-size: 20px;
  padding: 10px;
  text-align: center;
  top: 225px;
  margin-left: 50vw;
  position: absolute;
  opacity: .8;
  width: 300px;
  height: 80px;
  transition: all 1s ease;
  cursor: pointer;
  animation: salida 1s both; }

.div-aviso {
  background-color: #da2c2c;
  color: #fff;
  font-size: 20px;
  padding: 10px;
  text-align: center;
  top: 225px;
  margin-left: 50vw;
  position: absolute;
  opacity: .8;
  width: 300px;
  height: 80px;
  transition: all 1s ease;
  cursor: pointer;
  animation: salida 1s both; }

.display-none {
  height: 0px;
  font-size: 0px;
  padding: 0px;
  transition: all 1s ease;
  animation: salida2 1s both ease-in-out; }

@keyframes salida {
  0% {
    width: 300px;
    height: 0px;
    font-size: 10px; }
  100% {
    width: 300px;
    height: 80px;
    font-size: 20px; } }
@keyframes salida2 {
  0% {
    width: 300px;
    height: 80px;
    font-size: 20px; }
  50% {
    font-size: 20px; }
  100% {
    width: 300px;
    height: 0px;
    font-size: 0px; } }

/*# sourceMappingURL=style.css.map */
